body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-checkbox {
    display: none;
}

.toggle-checkbox:checked + header,
.toggle-checkbox:checked + .category-box,
.toggle-checkbox:checked + .main-content {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #60a917; /* Green */
    padding: 10px;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logo {
    flex: 1;
}

.controls {
    display: flex;
    align-items: center;
}

.cart-button {
    background-color: #fff; /* White */
    border: none;
    padding: 10px;
    cursor: pointer;
}

.dark-light-toggle {
    width: 30px;
    height: 30px;
    background-color: #000; /* Black */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
}

.navbar {
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff; /* White */
    font-weight: bold;
}

.category-box {
    background-color: #eee; /* Light Gray */
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.protein-categories {
    display: flex;
    justify-content: space-around;
    background-color: #60a917; /* Green */
    padding: 10px;
}

.protein-categories a {
    text-decoration: none;
    color: #fff; /* White */
    font-weight: bold;
}

.main-content {
    padding: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
}

.product {
    display: flex;
    margin: 10px;
}

.product img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.quantity-controls {
    display: flex;
    margin-top: 10px;
}

.quantity-controls button {
    background-color: #60a917; /* Green */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}
